.custom-button{
    display: flex;
    align-items: center;
    padding-right: 4px;
    justify-content: space-between;
    color: inherit;
}
.custom-button:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5) inset;
    cursor: pointer;
}
.custom-button .children{
    padding-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}