.custom-button{
    display: flex;
    align-items: center;
    padding-right: 4px;
    justify-content: space-between;
    color: #262522;
    background: linear-gradient(to bottom, hsl(0, 0%, 96%) 0%, hsl(0, 0%, 93%) 100%);
    border:none;
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
}
.custom-button:hover{
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.custom-button .text{
    padding-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}