.blurrer{
    position: absolute;
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
}
.modalContainer{
    height: fit-content;
    max-height: 70%;
    min-height: 40%;
    width:600px;
    background-image: linear-gradient(to left bottom, #edebe9, #efe6dc, #f0e2cf, #f1ddc2, #f0d9b5);
    border:1px solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}
.modalTitle{
    display: flex;
    justify-content: space-between;
    color:#262522;
    height: 50px;
}
.modalTitle *{
    margin:0px
}
.modalTitle p{
    color:grey;
}
.modalTitle .close{
    font-size: 2em;
    background-color: inherit;
    border:none
}
.modalTitle .close:hover{
    font-size: 2.5em;
    cursor: pointer;
    width:50px
}
.botsToSelect{
    height: 100%;
    overflow: auto;
    cursor: pointer;
    padding: 20px;
    padding-top: 0px;
}
.botToSelect{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    background-color: #B58863;
    cursor: pointer;
    border-bottom:1px solid #999;
}
.botToSelect:nth-child(even){
    background-color: #8a6241;
}
.botToSelect:hover{
    background-color: #edebe9;
}
.botToSelect.selected{
    background-color: #edebe9;
}
.botToSelect .viewCode{
    height:100%;
    font-size: .9em;
    font-weight: 600;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
}
.footerButtons{
    display: flex;
    justify-content: space-between;
}
.footerButtons button{
    height:40px;
    background-color: inherit;
    cursor: pointer;
    border-radius: 5px;
    margin: 8px;
    font-size: 16px;
}
button.cancel{
    background-color: #C61A09;
    width: 100px;
}
button.cancel:hover{
    background-color: red;
}
button.select{
    text-wrap: nowrap;
    width: 100%;
    background-color: #03C04A;
}
button.select:hover{
    background-color:#08F26E;
}
button.select:hover:disabled{
    background-color: #03C04A;
    cursor: not-allowed;
}
#bot-code-visual{
    height: 100%;
    width: 100%;
    resize: none;
}
.bot-code-wrapper{
    height: 600px;
    width:100%;
}
.pillContainer{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    display: flex;
}
.wins, .draws, .losses{
    display: block;
    height: 100%;
}
.modalContainer.resultsContainer{
    height: 80%;
    max-height: 80%;
    width:800px;
    display: block;
}
.resultsContainer .wrapper{
    display: flex;
    height: 90%;
}
.resultsContainer .results{
    width: 100%;
    overflow: auto;
}
.resultsContainer .gameVisualization{
    width: 400px;
}
.move{
    padding: 2px;
}
.move.current{
    font-weight: bold;
}
.resultsMoves{
    display: flex;
    flex-wrap: wrap;
    padding-left:8px;
}
.resultsContainer .controlButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}
.resultsContainer .controlButtons button{
    padding: 4px;
    cursor: pointer;
    background: none;
    font-size: 1.5em;
    border: none;
}
.resultsContainer .controlButtons button:hover{
    border-bottom: 1px solid black;
}
.modalTitle .resultTitle{
    width: 50%;
    font-size: 1.4em;
    font-weight: bold;
}
.results{
    background-color:#B58863;
}
.result{
    background-color:#B58863;
    cursor: pointer;
    padding: 4px;
    padding-left: 8px;
    font-weight: 500;

}
.result:nth-child(even){
    background-color: #8a6241;
   
}
.result:hover{
    background-color: #edebe9;

}
.result.selected{
    background-color: #edebe9;
}