.topNav a{
    color:#EFEEEA;
    text-decoration: none;
}
.topNav a:hover{
    text-decoration: underline;
}
.topNav{
    background-color: #2f2f2f;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   align-items: center;
}
.topNav>.main-content{
    display: flex;
    flex-direction: row;
    font-size: 16px;
}
.topNav>.main-content>*{
    margin-right:16px;
}
.topNav .home{
    font-size: 20px;
}
.userIndicator{
    color:white;
    padding-right: 10px;
    float: left
}
.rightContent{
    color: white;
    width: fit-content;
}
