.challengePage{
    height: 100%;
    background-image: linear-gradient(to left bottom, #edebe9, #efe6dc, #f0e2cf, #f1ddc2, #f0d9b5);
}
.tournamentWrapper{
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    overflow-y: hidden;
    background: none;
}
.challengeSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

}
.startChallenge{
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    color:#262522;
    background-image: linear-gradient(to bottom right, #FFFFFF, #DfDfDf);

}
.challengeWrapper{
    display: flex;
    flex-direction: column;
    width:100%;
}
.sectionTitle{
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}