.challengePage{
    height: 100%;
    background-color: #EFEEEA;

}
.tournamentWrapper{
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    overflow-y: hidden;
}

.tournament{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:1px solid black;
    border-radius: 15px;
    margin:8px;
    padding:8px;
    min-width:250px;
    max-width: 250px;

}
.tournament .participant{
    width:80%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.tournament .title{
    font-size: 1.5em;
    font-weight: 600;
}
.challengeWrapper{
    width: 500px;
    display: flex;
    flex-direction: column;
}
.challenge{
    display: flex;
    height:30px;
    justify-content: space-between;
    border: 1px solid black;
}
