.container{
    display: flex;
    flex:1;
    overflow: hidden;
    height: 100%;
}
.editorSection{
    flex-grow: 100;
    height: 100%;
    overflow-y: hidden;
    border-right:1px solid black;
}
.debugger{
    width:300px;
    height:100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left bottom, #edebe9, #efe6dc, #f0e2cf, #f1ddc2, #f0d9b5);
}
.gameVisualization{
    width:300px;
    height: fit-content;
    border-bottom: 1px solid black;
}
.testOutput{
   flex-grow: 100;
   overflow: auto;
}
.testOutput .title {
    display: flex;
    align-items: center;
}
.testOutput .title select{
    font-size: 2em;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;
    height:50px;
    width: 200px;
    max-width: 200px;
}
.titleBar{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to left bottom, #edebe9, #efe6dc, #f0e2cf, #f1ddc2, #f0d9b5);
    border-bottom:1px solid black ;
}
.displayTitle{
    font-size: 2em;
    font-weight: bold;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.displayTitle:hover{
    cursor: text;
}
.displayTitle .icon-pencil{
    float: right;
    display: flex;
    height: 100%;
    align-items: center;
}
.displayTitle .icon-pencil:hover{
    cursor: pointer; 
}
.titleBar input{
    width:100%; 
}
.titleBar .editorButtons{
    display: flex;
    flex-direction: row;
    height: 50%;
    align-self: center;
    padding: 4px;

}
.titleBar .editorButtons *{
    font-size: 24px;
}
.testOutput .title{
    width: 100%;
}
#opponentBotTitle{
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin:8px;
    text-align: center;
    font-size: 1em;
}
.editorButtons button{
    background: none;
    padding: 8px;
    margin-right: 4px;
    border: 1px solid black;
    border-radius: 5px;
}