.container{
    display: flex;
    width: 100%;
    height: 100%;
}
.editorSection{
    flex-grow: 100;
    background-color: #F0DEC7; 
    height: 100%;
    overflow-y: hidden;
}

.titleBar{
    height:30px;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid black;

}
.debugger{
    width:30%;
    height:100%;
    background-color: orange;
}
