body{
    margin:0;
}
.background{
    background-color: #00171F;
    display: flex;
    justify-content: center;
    height: 100%;
    width:100%;
}
.welcomePopover{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    background-color: #F0DEC7;
    border:1px solid #00171F;
    z-index: 1;
    left: 50%;
    top:15%;
    transform: translate(-50%, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}

.welcomePopover .title{
    font-size: 32px;
    font-weight: bold;
    text-wrap: nowrap;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.welcomePopover p{
    padding-left: 5px;
    width: 400px;
}
.welcomePopover button{
    width: 300px;
    height:40px;
    font-size: 20px;
    background-color: #6EA4BF ;
    margin: auto;
}
.welcomePopover button:hover{
    background-color: #6eabbf;
}
.gameBoard{
    filter:brightness(70%) blur(4px);
    padding: 10px;
    display: flex;
    justify-self: center;
    align-self: center;
    width:700px;
    height: fit-content;
    border-bottom: 1px solid black;
}