body{
    margin:0;
}
.background{
    background-color: #00171F;
    display: flex;
    justify-content: center;
    height: 100%;
    width:100%;
}
.welcomePopover{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    background-color: #F0DEC7;
    border:1px solid #00171F;
    z-index: 1;
    left: 50%;
    top:15%;
    transform: translate(-50%, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.welcomePopover .title{
    font-size: 2em;
    text-align: center;
}
.login-container{
    display: flex;
    flex-direction: column;
}
.login-container>*{
    margin: 10px;
    font-size: 1.2em;
}
.login-container>button{
    width:50%;
    margin: auto;
    border-radius: 15px;
}
.login-container>button:hover{
    width:60%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.welcomePopover .error-message{
    text-align: center;
    color:maroon;
}
.orlogin{
    width: 100%;
    text-align: center;
    color: gray;
}
.signInWithIcons{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.gameBoard{
    filter:brightness(70%) blur(4px);
    padding: 10px;
    display: flex;
    justify-self: center;
    align-self: center;
    width:700px;
    height: fit-content;
    border-bottom: 1px solid black;
}
