.challenge{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
    width: 100%;
}
.challenge:nth-child(even){
    background-color: #DfDfDf;
}
.dots {
    text-wrap: nowrap;
    overflow: hidden;
}
.challenger{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    justify-content: center;
    align-items: center;
}
.botName button{
    background-color: inherit;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0px;
    text-decoration: underline;
}
.botName button:hover{
    color:#008CD1
}
.joinChallenge{
    font-size: 1em;
    cursor: pointer;
    background-image: linear-gradient(to bottom, hsl(37, 7%, 22%), hsl(37, 5%, 19%) 100%);
    box-shadow: 0px 2px 4px rgba(255,255,255, 0.2) inset;
    color: #DfDfDf;
    margin-left: 4px;
    margin-right: 4px;

}
.joinChallenge:hover{
    box-shadow: 2px 2px 4px rgba(255,255,255, 0.5) inset;
}
.joinChallenge:disabled{
    cursor: not-allowed;
    background-image: linear-gradient(to bottom, hsl(0, 2%, 72%), hsl(0, 0%, 73%) 100%);
}
.recent .botName{
    margin-left: 8px;
    margin-right: 8px;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.playerName{
    text-align: left;
 
}
.opponentName{
   text-align: right;
}
.winner{
    color:#03C04A;
}
.loser{
    color: #C61A09;
}
.draw{
    color:#DE970B;
}
.recent.challenge{
    cursor: pointer;
}
.recent.challenge:hover::before{
    content: "see results";
    color: #008CD1;
    text-decoration: underline;
    cursor: pointer;
}